
<!DOCTYPE html>
<html>
<head>
    <title>Distribution: The Game</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-p5"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="body">
<div> 
    <section id="plot_info" class="row title">
        <div class="small-12 columns">
            <h1 v-if="!guess_submitted" class="text-center">GUESS THE DISTRIBUTION FOR...</h1>
            <div class="plot_title">
                <h2>{{ plots[current_plot].title }}</h2>
                <p v-if="guess_submitted" class="evaluation">0% is a completely random guess. 100% is perfect. You scored <span style="color: rgb(252,185,18)">{{ score }}</span>%</p>
                </div>
            </div>
        </div>
    </section>      
    <section>
        <div id="app" class="row plot">
            <vue-p5 v-on="{setup, draw, mousedragged, mousepressed}"></vue-p5>       
            
        </div>
    </section>
    <section id="controls" class="row controls">
        <div class="small-12 columns">
            <button id="clear" @click="clear()">CLEAR</button>
            <button id="submit" @click="submit()">SUBMIT</button>
            <button id="next" @click="next()">NEXT</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>
<script src="./app.js"></script>
